<header class="header">
	<div class="header__container container">
		<div class="header__content">
			<div class="header__content-item">
				<div class="header__content-title">studio</div>
				<div class="header__content-name">REQUESTDESIGN</div>
			</div>
			<div class="header__content-item">
				<div class="header__content-title">APP</div>
				<div class="header__content-name">SVET app</div>
			</div>
		</div>
		<a
			class="header__content-link"
			href="https://productradar.ru/product/svet?utm_source=badge"
			target="_blank"
			><img
				src="https://productradar.ru/badge?period=month&amp;rank=3&amp;theme=white"
				alt="Награда Продукт месяца #3| Product Radar"
		/></a>
	</div>
</header>
